@import 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
    font-family: $font-content;
}

.hero {
    // border: 2px solid red;
    padding: 5vh 5vw;
    background: hsla(0, 0%, 0%, .8);
    color: #fff;
    height: 70vh;
    display: grid;
    place-items: center;
    place-content: center;
    position: relative;
    isolation: isolate;
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../img/sergi-kabrera-2xU7rYxsTiM-unsplash.jpg');
        mix-blend-mode: overlay;
        z-index: -1;
    }

    h1 {
        margin-bottom: 1rem;
        color: yellow;
    }

    h2 {
        // font-size: 1rem;
    }
}

main {
    // border: 2px solid red;
    background-color: #fafafa;
    padding: 10vh 1rem;
    display: grid;
    align-items: center;
    gap: 10vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .project-container {
        // background-color: orange;
        // border: 2px solid blue;
        border-radius: 10px;
        // height: 350px;
        position: relative;

        .project-item {
            // border: 3px solid red;
            width: 100%;
            height: 500px;
            background: #fff;
            padding: 1rem 0;
            text-align: center;
            border-radius: .25rem;
            box-shadow: 0 .5rem .5rem #0002;

            h2 {
                text-transform: capitalize;
                margin-bottom: 1rem;
                text-decoration: underline 2px solid yellow;
            }

            a {
                display: block;
                margin: 1rem auto;
                background: #000;
                width: 10rem;
                color: yellow;
                padding: .65rem 1rem;
                text-transform: capitalize;
                text-decoration: none;
                border-radius: .25rem;
            }

            img {
                border: 1px solid #000;
                width: 10rem;
                width: 90%;
                height: 300px;
                margin: 0 auto;
                object-fit: contain;
                transition: .2s ease;
                border-radius: 50%;
                border-radius: .25rem;
            }

        }
    }
}

    footer {
        padding: 5vh 0;
        font-size: 1.5rem;
        color: #fff;
        background-color: #000;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;

        a {
            color: #fff000;
            text-decoration: none;
        }

        @media (max-width: 768px) {
            font-size: 1rem;
        }
    }


.loader_bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 99;
    display: grid;
    place-items: center;

    .loader {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: .2rem solid #111;
        border-top: .2rem solid #fff000;
        position: relative;
        animation: rotate 1.5s linear infinite;

        @keyframes rotate {
            100% {
                transform: rotate(360deg);
            }
        }
    }
}