
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eee;

    header {
        background-color: #161616;
        width: 100%;
        text-align: center;
        padding: 3em;

        h1 {
            color: #fff000;
            text-transform: capitalize;
            letter-spacing: .1em;
            font-size: 3em;
            font-family: sans-serif;

            @media(max-width: 768px){
                font-size: 2.5em;
            }
        }
    }

    section {
        background-color: #e7d803;
        padding: 2em;
        text-align: center;
        font-family: sans-serif;


        h3 {
            margin: 1em auto;
            font-size: 1.8em;
            color: #000;
        }

        p {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    main {
        background-color: #ddd;
        padding: 4em 2em;
        display: grid;
        align-items: center;
        gap: 1.5em;
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
        article {
            background-color: orange;
            border-radius: 10px;
            height: 350px;
            position: relative;
            
            .project-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-color: #fff000;
                height: 100%;
                border-radius: 10px;
                border: 1px solid #000;
                box-shadow: 0 0 10px #000a;
                overflow: hidden;
                
                h4 {
                    font-size: 2em;
                    text-align: center;
                    padding: .4em;
                    color: #141414;
                }
                
                a {
                    background-color: red;
                    width: 100%;

                    // border-bottom-right-radius: 10px;
                    // border-bottom-left-radius: 10px;
                    overflow: hidden;
                }

                img {
                    width: 100%;
                    transition: .2s ease;
                    
                }

                &:hover {
                    img {
                        transition: .2s ease;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}