@use '../abstracts';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}
body {
    font-family: 'Content', serif;
    background-color: #111;
    color: #fff;
}
